.tilt-card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.tilt-card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}

.tilt-card-content > * {
  transform: translateZ(20px);
}
